/* SUBMITTED TWEET SECTION */

.submitted-tweet {
  border: 3px solid #545149;
  padding: 0 30px;
  margin: 30px 0;
}
.submitted-tweet:hover {
  box-shadow: 5px 10px #CC8614;
}

.submitted-tweet:hover .user-handle{
  opacity: 1;
  color: #CC8614;
}

.tweet-header {
  background-color: #F0EFEB;
  background-image: none;
  /* border: 3px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;

}
.tweet-user-profile {
  display: flex;
  align-items: center;
}

.username {
  padding-left: 20px;
}

.user-handle {
  opacity: 0;
  align-self: center;
}

.composed-tweet-message {
  border-bottom: 3px solid #545149;
  padding-bottom: 25px;
  margin-bottom: 0px;
}

.tweet-footer {
  /* border: 3px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  align-items: flex-start;
  padding-top: 5px;
}

.tweet-footer i {
  font-size: 15px;
}

.date-posted {
  margin-top: 0px;
  font-size: 18px;
}

.composed-tweeter-icons {
  display: flex;
  align-items: center;
}

.composed-tweeter-icons i {
  padding: 0 5px;
}