header {
  height: 400px;
  width: 100%;
  display: flex;
  background-color: lightsteelblue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
}