header {
  display: flex;
  background-color: lightsteelblue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
}
