  .tweet-button {
    font-family: 'Bungee', sans-serif;
    border: none;
    background-color: #4056A1;
    color: #ffffff;
  }

  .submit-tweet {
    font-family: 'Bungee', sans-serif;
    font-size: 16px;
    margin-top: 5px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
  }

  .tweet-button, .submit {
    font-family: 'Bungee', sans-serif;
  }

  #tweet-text {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border: none;
    resize: none;
    overflow: auto;
    background-color: transparent;
    border-bottom: 2px solid black;
    line-height: 1;
  }
  



   /* .submission {
    padding-top: 15px;
    margin-top: 10px;
  } */

  
